<div class="demo-disable-bg-image"><!-- Main Container Begin here -->
  <div  class="demo-grid-sizes demo-flex-display">
  <div class="oj-flex oj-flex-items-pad">
  <div class="oj-sm-12 oj-md-12 oj-lg-12 oj-flex-item"> 
  <div id="sampleDemo" style="" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
          
          <div id="tabbardemo" >
            

            <div id="demo-container" class="oj-flex demo-edge-top">
              <oj-tab-bar id="hnavlist" 
                          edge="[[currentEdge]]"
                          selection="{{selectedItem}}">
                <ul>
                  <li id="home">
                    <a href="#" aria-controls="home-tab-panel" id="home-tab" >
                      Home
                    </a>
                  </li>
                  <li id="blogs">
                    <a href="#"  aria-controls="blogs-tab-panel" id="blogs-tab">
                      Practice One
                    </a>
                  </li>
                  <li id="settings">
                    <a href="#" aria-controls="settings-tab-panel" id="settings-tab" >
                      Practice Two
                    </a>
                  </li>
                  <li id="about">
                    <a href="#"  aria-controls="about-tab-panel" id="about-tab">
                      Practice Three
                    </a>
                  </li>
                  <li id="contact" >
                    <a href="#" aria-controls="contact-tab-panel" id="contact-tab" >
                      Charts
                    </a>
                  </li>
                </ul>
              </oj-tab-bar>
          
<oj-switcher value="[[selectedItem]]">
    <div slot="home"
        id="home-tab-panel"
        role="tabpanel" 
        aria-labelledby="home-tab">
    <div class="demo-tab-content">
    <!-- Tab content Begin here -->
    <div  class="demo-grid-sizes demo-flex-display">
    <div class="oj-flex oj-flex-items-pad" style="margin-top:5%;">
    <div class="oj-sm-12 oj-md-8 oj-lg-9 oj-xl-9 oj-flex-item">
<!--first column Begins Here -->
    <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-6 oj-lg-6 oj-flex-item">
     <!-- First Box Data Container Column Begins -->
      <div class="oj-flex oj-flex-items-pad">
      <div class="oj-sm-2 oj-flex-item">
      <img src="/css/images/Risk & Performance.png" style="width:50px;" alt="Finance-Strategy"/>
      </div>
      <div class="oj-sm-8 oj-flex-item"><strong class="custom-heading">Practice One</strong></div>
      <div class="oj-sm-2 oj-flex-item"></div>
      </div>

      <div class="scrollbar" id="style-4">
          <div class="force-overflow">
          <!--Dynamic Content Begins here -->
          <div class="Internal-data" style="padding:30px;">
          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item"><a href="http://localhost:8000/?root=customers" style="color:#f79433;font-size:16px;">Social Programming</a></div>
              <div class="oj-sm-2 oj-flex-item">
                
                <div class="triangle-up-small"><span class="text-green">5.34</span></div>
                
              
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>
          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;">Design Thinking</div>
              
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">5.85</span></div>
              </div>
          </div><br>

          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;">Communications and PR</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">5.78</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png"style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;">Demand Engineering</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">5.95</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;" >Enterprise Mobility</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">5.85</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

        </div>
        </div>
        </div>

 <!-- First Box Data Container Column Ends -->
    </div>
    <div class="oj-sm-12 oj-md-6 oj-lg-6 oj-flex-item">
      <!-- Second Box Data Container Begins here -->
              <div class="oj-flex oj-flex-items-pad">
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Risk & Performance.png" style="width:50px;"/>
              </div>
              <div class="oj-sm-8 oj-flex-item"><strong class="custom-heading">Technology</strong></div>
              <div class="oj-sm-2 oj-flex-item"></div>
        </div>
        <div class="scrollbar" id="style-4">
          <div class="force-overflow">
          <!--Dynamic Content Begins here -->
          <div class="Internal-data" style="padding:30px;">
          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;">Laravel</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">5.95</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;">Wordpress</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">3.95</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

 
            <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;">Oracle Jet</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">2.89</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

 
    <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;">PHP</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">5.95</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

 
  <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;" >Python</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">5.95</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

 
        </div>
        </div>
      </div><!-- Scrollable div ends here -->
        

    </div><!-- Second Box Data Container Ends here   -->

    <!-- Second Row Data Container First Begins here -->
      <div class="oj-sm-12 oj-md-6 oj-lg-6 oj-flex-item" style="margin-top: 5%;">
            <div class="oj-flex oj-flex-items-pad">
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/New Initiatives Support.png" style="width:50px;"/>
              </div>
              <div class="oj-sm-8 oj-flex-item"><strong class="custom-heading">Practice Three</strong></div>
              <div class="oj-sm-2 oj-flex-item"></div>
           </div>
        <div class="scrollbar" id="style-4">
          <div class="force-overflow">
          <!--Dynamic Content Begins here -->
          <div class="Internal-data" style="padding:30px;">
         <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;" >Deposits</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">1.90</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

 
          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;" >Lending</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">5.95</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>

 
          <div class="oj-flex oj-flex-items-pad" >
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Bullet Bars.png" style="width:20px;"/>
              </div>
              <div class="oj-sm-6 oj-flex-item" style="font-size:16px;" >Volume Total</div>
              <div class="oj-sm-2 oj-flex-item">
                <div class="triangle-up-small"><span class="text-green">3.20</span></div>
              </div>
              <div class="oj-sm-2 oj-flex-item"></div>
          </div><br>
        </div>
        </div>
        </div>
      </div>
    <!-- Second Row Data Container First Ends here   -->
    <!-- Second Row Data Container Second Begins here -->
      <div class="oj-sm-12 oj-md-6 oj-lg-6 oj-xl-6 oj-flex-item" style="margin-top: 5%;">
        <!-- Experience center column box chart code begin -->
          <div class="oj-flex oj-flex-items-pad">
              <div class="oj-sm-2 oj-flex-item">
                <img src="/css/images/Peer & Competition Analysis.png" style="width:50px;"/>
              </div>
              <div class="oj-sm-8 oj-flex-item"><strong class="custom-heading">Chart</strong></div>
              <div class="oj-sm-2 oj-flex-item"></div>
           </div>
            <div id='chart-container'>
            <oj-chart id="lineChart" 
                type="line" 
                data="[[dataProvider]]" 
                animation-on-display="auto"
                animation-on-data-change="auto" 
                orientation="[[orientationValue]]"
                hover-behavior="dim"
                labelStyle= "#fff"
                legend.text-style='[[{"fontWeight":"bold","fontStyle":"italic","color":"#cbd9de"}]]'
                style="max-width:500px;width:100%;height:100%;">
              <template slot="itemTemplate" data-oj-as="item">
                <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.quarter] ]]" series-id="[[item.data.series]]">

                </oj-chart-item>
              </template>
      <template slot='groupTemplate'>
        <oj-chart-group
          drilling='on'
          label-style='[[{"fontWeight":"bold","fontStyle":"italic","color":"#cbd9de"}]]'>   
       </oj-chart-group>
      </template>
            </oj-chart>
          <!-- vertical/horizontal toggle button -->
            <demo-chart-orientation-control id="orientationControl" type="line" orientation="{{orientationValue}}" aria-controls="lineChart">
            </demo-chart-orientation-control>
          </div>
        <!--Experience center column box chart code ends -->
      </div>
    <!-- Second Row Data Container Second Ends here   -->
    </div>
    </div><!--First Column Ends Here -->
    <!--Second Column Begin here -->
     <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-3 oj-flex-item">
       <!-- Second Column Main Part 2 Begin here -->
     <div class="scrollbar-sidebar" id="style-4">
        <div class="force-overflow">
         <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
            <ul style="display:flex;list-style:none">
              <li><div class="triangle-up"></div></li>
              <li>&nbsp;&nbsp;<span style="color:#333;font-weight:bold;font-size:32px;">5.83</span></li>
            </ul>
            <ul style="display:flex;list-style:none">
              <li>&nbsp;&nbsp;<span style="font-size:20px;">Credit Growth</span></li>
            </ul>
          </div>
          
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-10 oj-flex-item">
            <ul style="display:flex;list-style:none">
              <li><div class="triangle-up"></div></li>
              <li>&nbsp;&nbsp;<span style="color:#333;font-weight:bold;font-size:32px;">4.70</span></li>
            </ul>
            <ul style="display:flex;list-style:none">
              <li>&nbsp;&nbsp;<span style="font-size:20px;">NPA%</span></li>
            </ul>
          </div>
             
          </div>

            
          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-10 oj-flex-item">
            <ul style="display:flex;list-style:none">
          <li><div class="triangle-down animate fadeInDown two"></div><div class="triangle-down" style="margin-top:-25px;"></div></li>
              <li>&nbsp;&nbsp;<span style="color:#333;font-weight:bold;font-size:32px;">4.50</span></li>
            </ul>
            <ul style="display:flex;list-style:none">
              <li>&nbsp;&nbsp;<span style="font-size:20px;">Leverage Ratio</span></li>
            </ul>
          </div>
             
          </div>

        
          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-10   oj-flex-item">
            <ul style="display:flex;list-style:none">
              <li><div class="triangle-up"></div></li>
              <li>&nbsp;&nbsp;<span style="color:#333;font-weight:bold;font-size:32px;">4.50</span></li>
            </ul>
            <ul style="display:flex;list-style:none">
              <li>&nbsp;&nbsp;<span style="font-size:20px;">Deposit Growth</span></li>
            </ul>
          </div>
            
             
          </div>
      <!--Second col box ends here -->
      </div><!-- Scroll Ends Here -->
      </div>
       <!-- Second Column Main Part 2 Ends here -->
     </div>
     </div>
<!--Second Column Ends here -->
      </div>
<!-- Tab content Ends here  -->
      </div>
      </div>
                <div slot="blogs"
                     id="blogs-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="blogs-tab">
                  <div class="demo-tab-content">
                    <!--Blog Content Begins here -->
                    <!-- Tab content Begin here -->
    <div  class="demo-grid-sizes demo-flex-display">
    <div class="oj-flex oj-flex-items-pad" style="margin-top:5%;">
    <div class="oj-sm-12 oj-md-8 oj-lg-9 oj-xl-9 oj-flex-item">
<!--first column Begins Here -->
    <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-12 oj-lg-12 oj-flex-item">
     <!-- First Box Data Container Column Begins -->
    <div class="" style="text-align:center;"><strong class="custom-heading">Search Term Based</strong></div>
    <br><br>
    <!-- Chart Begin here -->
              <div id='chart-container'>
              <oj-chart id="barChart"
                    type="bar" 
                    orientation="[[orientationValue]]"
                    stack="[[stackValue]]"
                    data="[[bardataProvider]]"
                    animation-on-display="auto"
                    animation-on-data-change="auto"
                    hover-behavior="dim"
                    legend.text-style='[[{"fontWeight":"bold","fontStyle":"italic","color":"#cbd9de"}]]'
                    style="max-width:964px;width:100%;height:350px !important;">
          
                  <template slot='itemTemplate' data-oj-as='item'>
                      <oj-chart-item 
                        value='[[item.data.value]]' 
                        group-id='[[ [item.data.group] ]]' 
                        series-id='[[item.data.series]]'> 
                      </oj-chart-item>
                  </template>
                  <template slot='groupTemplate'>
                  <oj-chart-group
                      drilling='on'
                      label-style='[[{"fontWeight":"bold","fontStyle":"italic","color":"#cbd9de"}]]'>   
                    </oj-chart-group>
                  </template>
              </oj-chart>
          </div>
    <!-- Chart Ends here  -->

 <!-- First Box Data Container Column Ends -->
    </div>
    
    </div>
    </div><!--First Column Ends Here -->
    <!--Second Column Begin here -->
    <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-3 oj-flex-item" style="text-align:center;">
       <!-- Second Column Main Part 2 Begin here -->
    <div class="scrollbar-sidebar" id="style-4">
      <div class="force-overflow" >
          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/Analyze.png"/><br>
                  <h3 class="custom-color">Analyze</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/edit.png"/><br>
                  <h3 class="custom-color">Edit</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/refresh.png"/><br>
                  <h3 class="custom-color">Refresh</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/export.png"/><br>
                  <h3 class="custom-color">
          <div id='buttons-container'>
            <oj-button id='button1' on-oj-action='[[buttonClick]]'><span style="color:#000">Export</span></oj-button>
          </div>
                  </h3><br>
          </div>
          </div>
      <!--Second col box ends here -->
      </div><!-- Scroll Ends Here -->
      </div>
       <!-- Second Column Main Part 2 Ends here -->
     </div>
     </div>
<!--Second Column Ends here -->
      </div>
                    <!--Blog Content Ends here -->
                  </div>
                </div>
                <div slot="settings"
                     id="settings-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="settings-tab">
                  <div class="demo-tab-content">
                                       <!-- Tab content Begin here -->
    <div  class="demo-grid-sizes demo-flex-display">
    <div class="oj-flex oj-flex-items-pad" style="margin-top:5%;">
    <div class="oj-sm-12 oj-md-8 oj-lg-9 oj-xl-9 oj-flex-item">
<!--first column Begins Here -->
    <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-12 oj-lg-12 oj-flex-item">
     <!-- First Box Data Container Column Begins -->
    <div class="" style="text-align:center;"><strong class="custom-heading">Watchlist</strong></div>
    <br><br>
    <!-- Chart Begin here -->
              <div id='chart-container'>
              <oj-chart id="lineAreaChart"
                  type="lineWithArea"
                  data="[[dataProvider]]" 
                  animation-on-display="auto"
                  animation-on-data-change="auto"
                  orientation="[[orientationValue]]"
                  stack="[[stackValue]]"
                  hover-behavior="dim"
                  labelStyle= "#fff"
                  legend.text-style='[[{"fontWeight":"bold","fontStyle":"italic","color":"#cbd9de"}]]'
                  style="width:100%;height:350px;">
                  <template slot="itemTemplate" data-oj-as="item">
                      <oj-chart-item 
                          value="[[item.data.value]]"
                          group-id="[[ [item.data.quarter] ]]"
                          series-id="[[item.data.series]]">
                      </oj-chart-item>
                  </template>
                 <template slot='groupTemplate'>
                  <oj-chart-group
                  drilling='on'
                  label-style='[[{"fontWeight":"bold","fontStyle":"italic","color":"#cbd9de"}]]'></oj-chart-group>
                  </template>
              </oj-chart>
          </div>
    <!-- Chart Ends here  -->

 <!-- First Box Data Container Column Ends -->
    </div>
    
    </div>
    </div><!--First Column Ends Here -->
    <!--Second Column Begin here -->
    <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-3 oj-flex-item" style="text-align:center;">
       <!-- Second Column Main Part 2 Begin here -->
    <div class="scrollbar-sidebar" id="style-4">
      <div class="force-overflow" >
          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/Analyze.png"/><br>
                  <h3 class="custom-color">Analyze</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/edit.png"/><br>
                  <h3 class="custom-color">Edit</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/refresh.png"/><br>
                  <h3 class="custom-color">Refresh</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/export.png"/><br>
                  <h3 class="custom-color">Export</h3><br>
          </div>
          </div>
      <!--Second col box ends here -->
      </div><!-- Scroll Ends Here -->
      </div>
       <!-- Second Column Main Part 2 Ends here -->
     </div>
     </div>
<!--Second Column Ends here -->
      </div>
                  </div>
                </div>
                <div slot="about"
                     id="about-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="about-tab">
                  <div class="demo-tab-content">
                        <div  class="demo-grid-sizes demo-flex-display">
    <div class="oj-flex oj-flex-items-pad" style="margin-top:5%;">
    <div class="oj-sm-12 oj-md-8 oj-lg-9 oj-xl-9 oj-flex-item">
<!--first column Begins Here -->
    <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-12 oj-lg-12 oj-flex-item">
     <!-- First Box Data Container Column Begins -->
    <div class="" style="text-align:center;"><strong class="custom-heading">Favorites</strong></div>
    <br><br>
    <!-- Chart Begin here -->
<div id='chart-container'>
            <oj-chart id="lineChart" 
                type="line" 
                data="[[dataProvider]]" 
                animation-on-display="auto"
                animation-on-data-change="auto" 
                orientation="[[orientationValue]]"
                hover-behavior="dim"
                abelStyle= "#fff"
                  legend.text-style='[[{"fontWeight":"bold","fontStyle":"italic","color":"#cbd9de"}]]'
                style="width:100%;height:350px;">
              <template slot="itemTemplate" data-oj-as="item">
                <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.quarter] ]]" series-id="[[item.data.series]]">
                </oj-chart-item>
              </template>
        <template slot='groupTemplate'>
          <oj-chart-group
          drilling='on'
          label-style='[[{"fontWeight":"bold","fontStyle":"italic","color":"#cbd9de"}]]'>   
           </oj-chart-group>
        </template>
            </oj-chart>
          <!-- vertical/horizontal toggle button -->
            <demo-chart-orientation-control id="orientationControl" type="line" orientation="{{orientationValue}}" aria-controls="lineChart">
            </demo-chart-orientation-control>
</div>
    <!-- Chart Ends here  -->

 <!-- First Box Data Container Column Ends -->
    </div>
    
    </div>
    </div><!--First Column Ends Here -->
    <!--Second Column Begin here -->
    <div class="oj-sm-12 oj-md-4 oj-lg-3 oj-xl-3 oj-flex-item" style="text-align:center;">
       <!-- Second Column Main Part 2 Begin here -->
    <div class="scrollbar-sidebar" id="style-4">
      <div class="force-overflow" >
          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/Analyze.png"/><br>
                  <h3 class="custom-color">Analyze</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/edit.png"/><br>
                  <h3 class="custom-color">Edit</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/refresh.png"/><br>
                  <h3 class="custom-color">Refresh</h3><br>
          </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
          <div class="oj-sm-2 oj-flex-item"></div>
          <div class="oj-sm-8 oj-flex-item">
                  <img src="css/images/export.png"/><br>
                  <h3 class="custom-color">Export</h3><br>
          </div>
          </div>
      <!--Second col box ends here -->
      </div><!-- Scroll Ends Here -->
      </div>
       <!-- Second Column Main Part 2 Ends here -->
     </div>
     </div>
<!--Second Column Ends here -->
      </div>
                  </div>
                </div>
                <div slot="contact"
                     id="contact-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="contact-tab">
                  <div class="demo-tab-content">
                    <h2>CHart</h2>
                        <!---Chart Tab charts --->

                         <div id='chart-container'>
            <h5 style="display:inline-block;width:48%;height:15px;font-weight:bold;">withRescale</h5>
            <h5 style="display:inline-block;width:48%;height:15px;font-weight:bold;">withoutRescale</h5>
            <br/>
            <oj-chart id="barChart-charts"
                type="bar" 
                data="[[dataProvider]]"
                animation-on-display="auto"
                animation-on-data-change="auto"
                hide-and-show-behavior="withRescale"
                hidden-categories="{{hiddenCategories}}"
                orientation="[[orientationValue]]"
                stack="[[stackValue]]"
                style="width:48%;height:350px;float:left;">
          
                <template slot='itemTemplate' data-oj-as='item'>
                    <oj-chart-item 
                      value='[[item.data.value]]' 
                      group-id='[[ [item.data.group] ]]' 
                      series-id='[[item.data.series]]'> 
                    </oj-chart-item>
                </template>
            </oj-chart>
            <oj-chart id="barChart-charts"
                type="bar" 
                data="[[dataProvider]]"
                animation-on-display="auto"
                animation-on-data-change="auto"
                hide-and-show-behavior="withoutRescale"
                hidden-categories="{{hiddenCategories}}"
                orientation="[[orientationValue]]"
                stack="[[stackValue]]"
                style="width:48%;height:350px;float:right;">
          
                <template slot='itemTemplate' data-oj-as='item'>
                    <oj-chart-item 
                      value='[[item.data.value]]' 
                      group-id='[[ [item.data.group] ]]' 
                      series-id='[[item.data.series]]'> 
                    </oj-chart-item>
                </template>
            </oj-chart>
            <div style="width:100%;float:left;padding-bottom:8px;">
              <h5>hiddenCategories:</h5>
              <h5 :style.font-style="[[hiddenCategories().length === 0 ? 'italic' : 'normal']]"><oj-bind-text value="[[categoryInfo]]"></oj-bind-text></h5>
            </div>
            <oj-toolbar id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="barChart barChart2"
                        style="max-width:500px;width:100%;">
                <!-- vertical/horizontal toggle button -->
                <demo-chart-orientation-control id="orientationControl" type="bar" focus-management="none" orientation="{{orientationValue}}">
                </demo-chart-orientation-control>
                <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
                <!-- unstacked/stacked toggle button -->
                <demo-chart-stack-control id="stackControl" type="bar" focus-management="none" stack="{{stackValue}}">
                </demo-chart-stack-control>
            </oj-toolbar>
          </div>
                  </div>
                </div>
              </oj-switcher>
            </div>  
          </div>
  
          
        </div>
      </div>
    </div>
  </div>
</div>
</div><!-- Main Container Ends here -->